<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans" 
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:mvc="http://www.springframework.org/schema/mvc" 
		xmlns:tx="http://www.springframework.org/schema/tx" 
		
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
		
		<!-- 1、引入properties配置文件 -->
		<context:property-placeholder location="classpath:db.properties"/>
		
		<!-- 2、启用控制反转和依赖注入的注解 -->
		<context:annotation-config />
		
		<!-- 3、配置连接池 -->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
			<property name="url" value="${jdbc.url}"></property>
			<property name="username" value="${jdbc.username}"></property>
			<property name="password" value="${jdbc.password}"></property>
			<property name="maxActive" value="5"/>
			<property name="minIdle" value="1"/>
		</bean>
		
		<!--4、 配置sqlSessionFactory -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="Configuration">
			<!-- 解决#{}中取值为null时，引起的无效列类型错误  -->
			<bean class="org.apache.ibatis.session.Configuration">
				<property name="jdbcTypeForNull" value="NULL"></property>
			</bean>
		</property>
		</bean>
		
		<!-- 5、配置mapper扫描器 -->
		<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="com.xingxue.mapper"></property>
		</bean>
		
		<!-- 6、扫描service -->
		<context:component-scan base-package="com.xingxue.service"/>
		
		<!-- 7、启用事务注解 -->
		<tx:annotation-driven/>
		
		<!-- 8、配置事务管理器 -->
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"></property>
		</bean>
		
		<!-- 9、启用springmvc相关注解 -->
		<mvc:annotation-driven />
		
		
		<!-- 10、扫描控制器包 -->
		<context:component-scan base-package="com.xingxue.controller" /> 
		
		
		<!-- 11、视图解析器 -->
		<mvc:view-resolvers>
			<mvc:jsp prefix="/" suffix=".jsp"/>
		</mvc:view-resolvers> 
		
		<!-- 12、处理静态资源 -->
		<mvc:default-servlet-handler />
		
</beans>